<!DOCTYPE html>
<html>
    <head>
        <title> Gullible Bot </title>
    </head>
    <body style="">
        <div style="text-align: center;">
            <form action="/bot" method="get">
                <input type="text" name="value" id="value">
                <button type="submit"> Visit </button>
            </form>
            <a href="/"> Take me to the scream form </a>
            {% if value %}
                <h2> I'll be visiting {{ value }} shortly  </h2>
            {% endif %}
        </div>
    </body>
</html>