<!DOCTYPE html>
<html>
    <head>
        <title> Baby XSS </title>
    </head>
    <body>
        <div style="text-align: center;">
            <form action="/" method="get">
                <input type="text" name="value" id="value">
                <button type="submit"> Scream </button>
            </form>
            <a href="http://localhost:5001/"> Take me to the bot</a>
            {% if value %}
                <h2> {{ value|safe }} !!!! </h2>
            {% endif %}
        </div>
    </body>
</html>